<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411378073039-ehvdrmhsr2kmpmcnn5ko8ma76edenbn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411378073039-ehvdrmhsr2kmpmcnn5ko8ma76edenbn7</string>
	<key>API_KEY</key>
	<string>AIzaSyAqRNZq8VdQpbOtbukWaUbKcuIlPlNTrm8</string>
	<key>GCM_SENDER_ID</key>
	<string>411378073039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jichoi.basic99InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>test-project-57e6d</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-57e6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411378073039:ios:7471f7c18dc1e13688e6ba</string>
</dict>
</plist>